@import '_colors';

.movie-item {
    width: 46%;
    padding: 20px;
    box-sizing: border-box;
    margin: 15px;
    display: flex;
    flex-direction: column;
    background-color: $primary-dark-color;
    box-shadow: 8px 8px 20px -5px $secondary-dark-color;
    color: $primary-light-color;
    border-radius: 5px;

    .movie-item-header {
        display: flex;
        background-color: $secondary-light-color;
        height: 120px;

        .movie-item-img {
            height: 100%;
            width: 120px;
            color: $primary-dark-color;
        }

        .movie-item-title {
            align-self: center;
            width: 100%;
            text-align: center;
            padding: 0 10px;
            color: $primary-dark-color;
        }
    }

    .movie-item-decription {
        text-align: justify;
        padding: 20px 0;
        line-height: 1.2;
    } 
}

@media only screen and (max-width: 1080px) {
    .movie-item {
        width: 90%;
        margin: 15px 5%;
    }
}

@media only screen and (max-width: 640px) {
    .movie-item {
        width: calc(100% - 15px);
        margin: 15px;
    }
}