@import 'listItem';

.movie-list-wrapper {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 100px 0 50px;
}

@media only screen and (max-width: 640px) {
    .movie-list-wrapper {
        width: 100%;
    }
}