@import '_colors';
@import '_font';

.search-bar-wrapper {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0; 
    height: 80px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    box-sizing: border-box;
    background-color: $primary-dark-color;
    box-shadow: 0px -7px 25px 10px $secondary-dark-color;

    .search-bar-title {
        margin: 0 20px;
        align-self: center;
        color: $primary-light-color;
    }

    .search-bar-input {
        align-self: center;
        border: none;
        background-image: none;
        box-shadow: none;
        background-color: $primary-light-color;
        width: 30%;
        height: 30%;
        padding: 10px;
        font-size: 25px;
        border-radius: 3px;
        font-family: $main-font;

        &:focus {
            outline: none;
        }
    }

    .loading-placeholder {
        width: 100px;
        align-self: center;
        color: $primary-light-color;
        margin-left: 20px;
    }
}

@media only screen and (max-width: 1440px) {
    .search-bar-wrapper {
        .search-bar-input {
            width: 40%;
        }
    }
}

@media only screen and (max-width: 1080px) {
    .search-bar-wrapper {
        .search-bar-input {
            width: 50%;
        }
    }
}

@media only screen and (max-width: 640px) {
    .search-bar-wrapper {
        .search-bar-input {
            width: 100%;
        }
    }
}